.header {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
    opacity: 0.8;
    color: $mainColor;
    font-size: 1.4rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: $mainFont, $secondlyFont;

    .header_logo {
        width: 25%;
    }

    .header_menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style-type: none;

        .header_menu__item {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: $mainColor;
            margin: 25px;

            &::before {
                content: '';
                display: inline-block;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                border: 1px solid $mainColor;
                margin-right: 10px;
            }

            &:hover::before {
                background-color: $mainColor;
                // transition: 1s;
                // transform: scale(1.2);
            }
        }
    }

    .header_social {
        display: flex;
        align-items: center;
        text-decoration: none;
        height: 15px;
        width: 15px;
        color: $mainColor;
        border: 2px solid $mainColor;
        border-radius: 50%;
        padding: 10px;
        text-align: center;
    }
}